.card-title {
    color: #333; /* Darker text color */
    font-size: 20px;
    font-weight: 600; /* Bolder text */
    text-transform: uppercase;
}

img:hover {
    transform: scale(1.05); /* Slightly larger on hover */
    cursor: pointer;
}

img {
    width: 100%; /* Make images fill their container */
    height: auto; /* Maintain aspect ratio */
}

.card:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

.card-body:hover {
    transform: scale(1.02); /* Slightly larger on hover */
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.languages {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Negative margin to counteract spacing */
}

.language {
    flex-basis: calc(50% - 20px); /* 50% width with spacing */
    margin: 10px;
}

.rating {
    color: rgb(217, 194, 66);
    font-size: 24px;
}
